<!DOCTYPE html>
<html lang="en">

<head>
 

  <title>Rice Leaf Diseases</title>
 
 

   

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="../static/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
   <link href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
   <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">
   <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header-transparent">
    <div class="container">

       

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Home</a></li>
          <li>
                      <a href="{{url_for('abstract')}}">Abstract</a>
                  </li>
          
                      <a href="{{url_for('future')}}">Conclusion and Future Work</a>
                  </li>
           <li>
                      <a href="{{url_for('chart')}}">analysis</a>
                  </li>
           
           
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
    
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Rice Leaf Diseases</h1>
      <h2> Classification Using CNN With Transfer Learning</h2>
      <a href="{{url_for('login')}}" class="btn-get-started">Login</a>
    </div>
  </section
  <main id="main">

    <!-- ======= About Section ======= -->
    

  <!-- ======= Footer ======= -->
   

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
   <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
   
  
   
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/superfish/superfish.min.js"></script>
  <script src="../static/assets/vendor/hoverIntent/hoverIntent.js"></script>
  <script src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
   
  <script src="../static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>